.footer {
    @include set-sizes($footer-sizes);

    display: flex; // prevent scroll bar from appearing

    background-color: $quaternary-neutral-clr;

    @include from-large-screen-and-more {
        @include set-sizes($footer-height-lg-screen, height);
    }
    
    > .footer-wrapper {
        @include set-sizes($footer-wrapper-sizes);
        @include set-margin($footer-wrapper-margin-sizes);

        display: flex;
        flex-flow: row wrap;

        @include from-large-screen-and-more {
            @include set-sizes($footer-wrapper-height-lg-screen, height);

            justify-content: center;
            align-items: center;
        }
    }

    .footer__heading {
        @include set-sizes($footer-heading-sizes);
        @include set-margin($footer-heading-margin-sizes, bottom);

        font-family: 'Shrikhand', cursive, "Arial", sans-serif;
        font-size: 1.3rem;

        color: $primary-neutral-clr;

        @include from-large-screen-and-more {
            width: map-get($grid-col, col-2);
            font-size: 1.5rem;
        }
    }

    .footer-link-list-groups {
        @include set-sizes($footer-link-list-groups-sizes);

        display: flex;
        flex-flow: row wrap;

        font-size: 1rem;

        @include from-large-screen-and-more {
            @include set-sizes($footer-link-list-groups-sizes-lg-screen);

            justify-content: space-evenly;
            align-items: center;
        }

        > ul {
            @include set-sizes($footer-link-list-sizes);
            @include set-margin($footer-link-list-margin-bottom-size, bottom);

            /* Changed the margin of the special Font Awesome list class to align the list of links with icons with the list without icons on the vertical axis */
            &.fa-ul {
                margin-left: 1.5rem;
            }

            @include from-large-screen-and-more {
                @include set-sizes($footer-link-list-sizes-lg-screen);
                @include set-margin(0, bottom);
            }
        }

        &__link {
            @include set-sizes($footer-link-sizes);
            @include set-margin($footer-link-margin-bottom-size, bottom);

            .fas {
                color: $primary-neutral-clr;
            }

            > a {
                color: $primary-neutral-clr;
            }
        }
    }
}