.menu-page-banner {
    @include set-sizes($menu-page-banner-sizes);
    
    grid-column: 1 / 7;
    grid-row: 1 / 2;

    img {
        object-fit: cover;
        width: inherit;
        height: inherit;
    }
}