.btn {
	width: map-get($grid-col, col-8);
	height: 3.57rem;
	margin: 1.9em 0 0;

    position: relative;

    font-size: 1.2rem;
    font-weight: 400;

    color: $primary-neutral-clr;
	border-radius: $btn-radius;
	border-style: none;
    
    cursor: pointer;

    z-index: 1;

	@include omf-gradient-bg;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: $btn-radius;

        @include omf-gradient-bg($is-lighten: "yes");
        @include make-box-shadow($btn-shadow-sizes, $btn-shadow-effect-area--when-hover, darken($btn-shadow-clr, 5%));

        z-index: -1;

        opacity: 0;
        transition: opacity 250ms;
    }

    @include make-box-shadow($btn-shadow-sizes, $btn-shadow-effect-area, $btn-shadow-clr);

    @include from-extra-small-mobile-and-more {
        width: map-get($grid-col, col-9);
    }

    @include from-large-mobile-and-more {
        width: map-get($grid-col, col-6);
    }

    @include from-tablette-and-more {
        width: map-get($grid-col, col-4);
    }

    @include from-computer-and-more {
        width: map-get($grid-col, col-3);
    }

    @include from-large-screen-and-more {
        width: map-get($grid-col, col-2);
    }

    &--restaurant-menu-page-sizes {
        width: map-get($grid-col, col-8);
        height: 4rem;

        @include from-large-mobile-and-more {
            width: map-get($grid-col, col-5);
        }

        @include from-tablette-and-more {
            width: map-get($grid-col, col-4);
        }

        @include from-large-screen-and-more {
            width: map-get($grid-col, col-2);
        }
    }

    &--margin-top-size {
        margin-top: $zero-value;

        @include from-computer-and-more {
            margin: $btn-margin-top-size;
        }
    }
}

.like-btn {
    grid-column: 2;
    grid-row: 2/3;

    @include set-margin($like-btn-sides-margin-sizes);

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    cursor: pointer;

    background-color: $primary-neutral-clr;
    border-style: none;


    &--page-menu-bg {
        background-color: $tertiary-neutral-clr;
    }
    
    @include from-large-mobile-and-more {
        font-size: $menu-card-infos-icon-font-size-lg-mobile;
        margin: $zero-value .8rem;
    }

    @include from-tablette-and-more {
        font-size: $menu-card-infos-icon-font-size;
        margin: $zero-value 1.3rem;
    }

    @include from-large-screen-and-more {
        font-size: 1.5rem;
    }

    /* fill the Like button when the user clicks it (version with CSS transitions) */
    &:active > .far {
        opacity: 0;

        + .fas {
            transform: scale(1);
        }
    }

    @include from-computer-and-more {    
        &:hover > .far {
            opacity: 0;

            + .fas {
                transform: scale(1);
            }
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: $menu-card-infos-icon-font-size;

        @include from-medium-mobile-and-more {    
            &--normal-font-size {
                font-size: $menu-card-infos-icon-font-size + 0.1rem;
            }
        }
    }

    .far {
        grid-column: 1;
        grid-row: 1;

        opacity: 1;
        transition: opacity 1000ms ease-in;
    }

    .fas {
        grid-column: 1;
        grid-row: 1;

        transform: scale(.01);
        transition: transform 1000ms ease-in-out;

        @include omf-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}