.btn {
	width: map-get($grid-col, col-8);
	height: 3.57rem;
	margin: 1.9em 0 0;

    font-size: 1.2rem;
    font-weight: 400;

    color: $primary-neutral-clr;
	border-radius: 2rem;
	border-style: none;
    
    cursor: pointer;

    transition: background-image 500ms ease, box-shadow 200ms ease-out;

	@include omf-gradient-bg;

    &:hover {
        @include omf-gradient-bg($is-lighten: "yes");
        @include make-box-shadow($buttons-shadow-sizes, $buttons-shadow-effect-area--when-hover, darken($buttons-shadow-clr, 5%));
    }

    @include make-box-shadow($buttons-shadow-sizes, $buttons-shadow-effect-area, $buttons-shadow-clr);

    @include from-extra-small-mobile-and-more {
        width: map-get($grid-col, col-9);
    }

    @include from-large-mobile-and-more {
        width: map-get($grid-col, col-6);
    }

    @include from-tablette-and-more {
        width: map-get($grid-col, col-4);
    }

    @include from-computer-and-more {
        width: map-get($grid-col, col-3);
    }

    @include from-large-screen-and-more {
        width: map-get($grid-col, col-2);
    }

    &--restaurant-menu-page-sizes {
        width: map-get($grid-col, col-8);
        height: 4rem;

        @include from-large-mobile-and-more {
            width: map-get($grid-col, col-5);
        }

        @include from-tablette-and-more {
            width: map-get($grid-col, col-4);
        }

        @include from-large-screen-and-more {
            width: map-get($grid-col, col-2);
        }
    }

    &--margin-top-size {
        margin-top: $zero-value;

        @include from-computer-and-more {
            margin: $btn-margin-top-size;
        }
    }
}

.like-btn {
    grid-column: 2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
    @include from-large-mobile-and-more {
        font-size: $menu-card-infos-icon-font-size-lg-mobile;
    }

    @include from-tablette-and-more {
        font-size: $menu-card-infos-icon-font-size;
    }

    @include from-large-screen-and-more {
        font-size: 1.5rem;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: $menu-card-infos-icon-font-size;
    }

    .far {
        grid-column: 1;
        grid-row: 1;

        opacity: 1;
        transition: opacity 1000ms ease-in;

        &:hover  {
            opacity: 0;
            
            + .fas {
                transform: scale(1);
            }
        }
    }

    .fas {
        grid-column: 1;
        grid-row: 1;

        transform: scale(.01);
        transition: transform 1000ms ease-in-out;

        @include omf-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}