.btn {
	width: map-get($grid-col, col-8);
	height: 3.57rem;
	margin: 1.9em 0 0;

    font-size: 1.2rem;
    font-weight: 400;
    color: $primary-neutral-clr;

	border-radius: 2rem;
	border-style: none;

	background: linear-gradient(to bottom, $secondary-clr, $primary-clr);

    @include make-box-shadow($buttons-shadow-sizes, $buttons-shadow-effect-area, $buttons-shadow-clr);

    @include from-extra-small-mobile-and-more {
        width: map-get($grid-col, col-9);
    }

    @include from-large-mobile-and-more {
        width: map-get($grid-col, col-6);
    }

    @include from-tablette-and-more {
        width: map-get($grid-col, col-4);
    }

    @include from-computer-and-more {
        width: map-get($grid-col, col-3);
    }

    @include from-large-screen-and-more {
        width: map-get($grid-col, col-2);
    }

    &--restaurant-menu-page-sizes {
        width: map-get($grid-col, col-8);
        height: 4rem;

        @include from-large-mobile-and-more {
            width: map-get($grid-col, col-5);
        }

        @include from-tablette-and-more {
            width: map-get($grid-col, col-4);
        }

        @include from-large-screen-and-more {
            width: map-get($grid-col, col-2);
        }
    }

    &--margin-top-size {
        margin-top: $zero-value;

        @include from-computer-and-more {
            margin: $btn-margin-top-size;
        }
    }
}
