.rm-scroll-bar {
	overflow: auto;

	animation: remove-scroll $anim-remove-scroll-dur $anim-remove-scroll-delay both;
}

.loading-spinner {
	position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @include set-sizes($loading-spinner-sizes);

	display: grid;
	grid-template-columns: 1fr;

	justify-items: center;
	align-items: center;

	z-index: 1;
	overflow: hidden;

	animation: hide-loader 0ms $anim-hide-loader-delay both;
}

.load-circle {
	grid-column: 1;
	grid-row: 1;

	@include set-sizes($load-circle-sizes);

	display: grid;
	grid-template-columns: 1fr;

	justify-items: center;
	align-items: center;

	&__outer {
		@include set-sizes($circle-outer-sizes);

		display: flex;
		justify-content: center;
		align-items: center;

		border: $circle-outer-border-width $circle-border-style lighten($primary-clr, $primary-clr--lighten-pourcent);
		border-top-color: $primary-clr;
		border-radius: $circle-border-radius;

		animation: spin $anim-spin-dur both cubic-bezier(0.14, 0.64, 0.79, 0.49)
			$anim-spin-iteration-count;
	}

	&__inner {
		@include set-sizes($circle-inner-sizes);

		border: $circle-inner-border-width $circle-border-style lighten($secondary-clr, $secondary-clr--lighten-pourcent);
		border-top-color: $secondary-clr;
		border-radius: $circle-border-radius;

		animation: spin $anim-spin-dur ($anim-spin-delay * 3) both cubic-bezier(0.14, 0.64, 0.79, 0.49) $anim-spin-iteration-count;
	}
}

.spawner {
	@include set-sizes($spawner-sizes);

	overflow: hidden;
	z-index: -1;

	animation: spawner 0ms $anim-spawner-delay both;
}

.restaurant-locations {
	width: map-get($grid-col, col-12);
	height: 3.64rem;

	display: flex;
	flex-direction: row;
	justify-content: center;

	background-color: $secondary-neutral-clr;

	@include make-box-shadow--with-inset(
		$restaurant-locations-shadow-sizes,
		$restaurant-locations-shadow-effect-area
	);

	&__wrapper {
		width: map-get($grid-col, col-12);

		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.form {
	width: map-get($grid-col, col-6);
	height: 2rem;

	font-size: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $secondary-neutral-clr;

	border-radius: $search-form-border-radius-sizes;

	@include from-extra-small-mobile-and-more {
		width: map-get($grid-col, col-8)
	}

	@include from-large-mobile-and-more {
		background-color: $primary-neutral-clr;
	}


	&__icon {
		padding: $form-icon-padding;
	}

	&__search-field {
		width: map-get($grid-col, col-8);
		height: inherit;

		padding: $form-search-field-padding-sizes;

		font-weight: bold;
		text-align: left;

		background-color: inherit;

		border-style: none;

		@include from-large-mobile-and-more {
			width: map-get($grid-col, col-11);
			border-radius: $search-form-border-radius-sizes;
		}
	}
}

.enterprise-presentation {
	width: map-get($grid-col, col-12);
	display: flex;
	justify-content: center;

	background-color: $tertiary-neutral-clr;

	&__wrapper {
		width: map-get($grid-col, col-12);
		height: 20.5rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__heading {
		width: map-get($grid-col, col-9);
		margin: 0 0 0.3em;

		font-family: 'Roboto';
		font-size: 1.8rem;
		text-align: center;

		@include from-tablette-and-more {
			width: map-get($grid-col, col-7);
		}

		@include from-computer-and-more {
			width: map-get($grid-col, col-5);
		}

		@include from-large-screen-and-more {
			width: map-get($grid-col, col-4);
		}
	}

	&__tagline {
		width: map-get($grid-col, col-12);
		margin: 0.3em 0 0;

		font-size: 1.4rem;
		font-weight: 300;
		text-align: center;

		@include from-large-mobile-and-more {
			width: map-get($grid-col, col-11);
		}

		@include from-tablette-and-more {
			width: map-get($grid-col, col-9);
		}

		@include from-computer-and-more {
			width: map-get($grid-col, col-7);
		}

		@include from-large-screen-and-more {
			width: map-get($grid-col, col-5);
		}
	}
}

.user-guide {
	@include set-sizes($user-guide-sizes);

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	@include from-computer-and-more {
		height: 20rem;
	}

	@include from-large-screen-and-more {
		height: 25rem;
	}

	&__heading {
		width: map-get($grid-col, col-7);
		margin-left: 1.35rem;
		margin-bottom: 2.57rem;

		text-align: left;

		align-self: flex-start;

		@include from-tablette-and-more {
			width: map-get($grid-col, col-3);
			margin-bottom: 1.3rem;
		}
	}

	> ol {
		width: map-get($grid-col, col-12);
		height: 19.07rem;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		align-content: space-around;
		justify-content: center;

		@include from-computer-and-more {
			height: 8rem;
		}
	}

	&__instructions {
		position: relative;

		width: map-get($grid-col, col-12);
		height: 5.21rem;

		@include set-margin($user-guide-instructions-margin-sizes);

		font-size: 1.1rem;
		font-weight: 600;

		background-color: $tertiary-neutral-clr;

		display: flex;
		flex-direction: row;

		justify-content: flex-start;
		align-items: center;

		border-radius: 2rem;

		@include make-box-shadow(
			$user-guide-instructions-shadow-sizes,
			$user-guide-instructions-shadow-effect-area,
			$user-guide-instructions-shadow-color
		);

		@include from-large-mobile-and-more {
			width: map-get($grid-col, col-6);
		}

		@include from-tablette-and-more {
			width: map-get($grid-col, col-5);
		}

		@include from-computer-and-more {
			width: map-get($grid-col, col-3);
			margin: 0 nth($user-guide-instructions-margin-sizes, 2);
		}
	}

	.omf-ol-custom-marker {
		position: absolute;
		left: -0.6em;

		@include custom-marker-padding;

		display: flex;

		font-size: 1rem;
		font-weight: normal;

		background-color: $primary-clr;
		color: #fff;
		border-radius: 100%;

		@include print-ordoned-list-number($ordoned-list-number);

		+ .fas {
			margin: 0 1rem 0 2rem;
			font-size: 1.2rem;
			color: $user-guide__instructions-icon-clr;

			&.fa-mobile-alt {
				margin-left: 2.1rem;
				font-size: 1.4rem;
			}
		}
	}
}

.restaurants-menu {
	height: auto;

	> .restaurants-menu__wrapper {
		@include set-padding($restaurants-menu-wrapper-padding-sizes);

        display: flex;
		flex-direction: column;

		background-color: $secondary-neutral-clr;
	}

	.restaurants-menu-cards-grid {
		@include set-sizes($restaurants-menu-cards-grid);

		display: flex;
		flex-flow: row wrap;

		justify-content: center;

		@include from-large-screen-and-more {
			justify-content: space-evenly;
		}
	}

	&__heading {
		width: map-get($grid-col, col-5);
		@include set-margin($restaurant-menu-heading-margin-sizes);
	}

	.menu-card {
		@include set-sizes($menu-card-sizes);
		@include set-margin($menu-card-margin-sizes);

		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(78px, auto);

		background-color: #fff;
		border-radius: 1rem;

		align-items: center;
		justify-items: center;
		
		@include make-box-shadow(
			$menu-card-shadow-sizes,
			$menu-card-shadow-effect-area,
			$menu-card-shadow-clr
		);

		@include from-large-mobile-and-more {
			@include set-sizes($menu-card-sizes-lg-mobile);
			@include set-margin($menu-card-margin-bottom-size, bottom);
		}

		@include from-tablette-and-more {
			@include set-sizes(map-get($menu-card-sizes, height), height);
		}

		@include from-computer-and-more {
			@include set-sizes(map-get($grid-col, col-3), width);
		}

		@include from-large-screen-and-more {
			@include set-sizes(map-get($grid-col, col-2), width);
		}


		&__link {
			@include set-sizes($menu-card-link-sizes);

			grid-column: 1/3;
			grid-row: 1/3;

			display: flex;
			flex-direction: column;
			align-items: center;
		}

		img {
			width: map-get($grid-col, col-12);
			height: $menu-prev-and-img-height;

			object-fit: cover;

			z-index: 0;

			border-radius: $menu-card-img-border-radius;

			@include from-large-mobile-and-more {
				@include set-sizes($menu-prev-and-img-height-lg-mobile, height);
			}

			@include from-tablette-and-more {
				@include set-sizes($menu-prev-and-img-height, height);
			}
		}
	}

	.menu-prev {
		position: relative;
		width: map-get($grid-col, col-12);
		height: $menu-prev-and-img-height;

		@include from-large-mobile-and-more {
			@include set-sizes($menu-prev-and-img-height-lg-mobile, height);
		}

		@include from-tablette-and-more {
			@include set-sizes($menu-prev-and-img-height, height);
		}


		&__new-restaurant-indicator {
			@include set-sizes($menu-prev-new-restaurant-indicator-sizes);
			position: absolute;
			top: 1rem;
			right: 0.9rem;
			z-index: 1;

			display: flex;
			align-items: center;
			justify-content: center;

			font-weight: 500;

			background-color: $tertiary-clr;
			color: $tertiary-clr--alt-darken;
			border-radius: 0.2rem;

			@include from-large-mobile-and-more {
				@include set-sizes(map-get($grid-col, col-4), width);
			}

			@include from-tablette-and-more {
				@include set-sizes(map-get($grid-col, col-3), width)
			}

			@include from-computer-and-more {
				@include set-sizes(map-get($grid-col, col-4), width)
			}
		}
	}

	.menu-card-infos {
		@include set-sizes($menu-card-infos-sizes);
		@include set-margin($menu-card-infos-margin-top-size, top);

		display: grid;
		grid-template-columns: 6fr 1fr;
		grid-auto-columns: minmax(100px, auto);
		column-gap: 3rem;
		row-gap: 0.4rem;

		align-items: center;
		justify-items: center;

		@include from-large-mobile-and-more {
			column-gap: 2rem;
		}

		@include from-tablette-and-more {
			column-gap: 6rem;
		}

		@include from-computer-and-more {
			column-gap: 3rem;
		}

		@include from-large-screen-and-more {
			column-gap: 2rem;
		}


		&__heading {
			grid-column: 1;
			grid-row: 1;

			justify-self: flex-start;

			@include from-large-mobile-and-more {
				font-size: $menu-card-infos-heading-font-size-lg-mobile;
			}

			@include from-tablette-and-more {
				font-size: $third-heading-font-size;
			}

			@include from-large-screen-and-more {
				font-size: 1.2rem;
			}
		}

		&__restaurant-detailed-location {
			grid-column: 1;
			grid-row: 2;

			justify-self: flex-start;

			@include from-large-mobile-and-more {
				font-size: $menu-card-infos-restaurant-detailed-location-font-size-lg-mobile;
			}

			@include from-tablette-and-more {
				font-size: $paragraph-font-size;
			}

			@include from-large-screen-and-more {
				font-size: 1.1rem;
			}
		}
	}
}
