.restaurant-locations {
    width: map-get($grid-col, col-12);
    height: 3.64rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: $secondary-neutral-clr;

    @include box-shadow-template;

    &__wrapper {
        width: map-get($grid-col, col-12);
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.form {
    width: map-get($grid-col, col-6);
    height: 2rem;

    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $secondary-neutral-clr;

    border-radius: 1rem;

    @include from-tablette-and-more {
        background-color: $primary-neutral-clr;
    }

    &__icon {
        padding: 0 .5rem;
    }

    &__searchField {
        width: 75%;
        height: inherit;
        
        padding: 0 0.3em;

        font-weight: bold;
        text-align: left;

        background-color: inherit;

        border-style: none;

        @include from-tablette-and-more {
            width: 90%;
        }
    }
}

.enterprise-presentation {
    width: map-get($grid-col, col-12);
    display: flex;
    justify-content: center;

    background-color: $tertiary-neutral-clr;

    &__wrapper {
        width: map-get($grid-col, col-12);
        height: 20.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        width: map-get($grid-col, col-9);
        margin: 0 0 .3em;

        font-size: 1.8rem;
        text-align: center;

        @include from-tablette-and-more {
            width: map-get($grid-col, col-7);
        }

        @include from-computer-and-more {
            width: map-get($grid-col, col-5);
        }

        @include from-large-screen-and-more {
            width: map-get($grid-col, col-4);
        }
    }

    &__tagline {
        width: map-get($grid-col, col-12);
        margin: .3em 0 0;

        font-size: 1.4rem;
        font-weight: 300;
        text-align: center;


        @include from-tablette-and-more {
            width: map-get($grid-col, col-9);
        }

        @include from-computer-and-more {
            width: map-get($grid-col, col-7);
        }

        @include from-large-screen-and-more {
            width: map-get($grid-col, col-5);
        }
    }
}

.user-guide {
    height: 31.42rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    &__heading {
        width: map-get($grid-col, col-7);
        margin-left: 1.35rem;
        margin-bottom: 2.57rem;

        text-align: left;

        align-self: flex-start;
    }

    > ol {
        width: map-get($grid-col, col-12);
        height: 19.07rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        align-content: space-around;
        justify-content: center;
    }


    &__instructions {
        position: relative;

        width: map-get($grid-col, col-12);
        height: 5.21rem;
        margin: 0 2em;
        
        font-size: 1.1rem;
        font-weight: 600;

        background-color: $user-guide__instructions-bg;

        display: flex;
        flex-direction: row;

        justify-content: flex-start;
        align-items: center;

        border-radius: 2rem;
    }

    .omf-ol-custom-marker {
        position: absolute;
        left: -.7em;

        @include custom-marker-padding;

        display: flex;

        font-size: 1rem;
        font-weight: normal;

        background-color: $primary-clr;
        color: #fff;
        border-radius: 100%;
        
        @include print-ordoned-list-number($ordoned-list-number);

        + .fas {
            margin: 0 1rem 0 2rem;
            font-size: 1.2rem;
            color: $user-guide__instructions-icon-clr;

            &.fa-mobile-alt {
                margin-left: 2.1rem;
                font-size: 1.4rem;
            }
        }
    }
}
