@keyframes loading-spinner {
    50% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes spawn-content {
    0% {
        transform: translateX(-9999px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes like-btn-scale {
    0% {
        transform: scale(.01);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes like-btn-fade {
    25% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }
}