@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes hide-loader {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-9999px);
    }
}

@keyframes spawner {
	0% {
		transform: translateX(-9999px);
	}

	100% {
		transform: translateX(0);
	}
}