/* Margin value */ 

$user-guide-instructions-margin-sizes: 0 2rem 1.7rem;


/* Box shadow offset and effect area settings */

$restaurant-locations-shadow-sizes: 0 4px;
$restaurant-locations-shadow-effect-area: 6px -6px;

$user-guide-instructions-shadow-sizes: 0 5px;
$user-guide-instructions-shadow-effect-area: 12px -4px;


/* Ohmyfood website custom marker padding value */

$omf-ol-custom-marker-padding: .4rem .5rem .1rem;