/* Null and zero value variables */

$zero-value: 0;


/* font-weight values */

$fw-medium-500: 500;


/* Colors variables */

$primary-clr: #9356DC;
$primary-clr--lighten-pourcent: 20;

$secondary-clr: #FF79DA;
$secondary-clr--lighten-pourcent: 15;

$tertiary-clr: #99E2D0;
$tertiary-clr--alt-darken: #099572; 

$primary-neutral-clr: #fff;
$secondary-neutral-clr: #eaeaea;

$tertiary-neutral-clr: #f6f6f6;
$tertiary-neutral-clr--alt-darken: #f5edff;

$quaternary-neutral-clr: #353535;


$btn-shadow-clr: #ccc;

$user-guide__instructions-icon-clr: #7d7d7d;
$user-guide-instructions-shadow-color: #bfbfbf;

$menu-card-shadow-clr: #d9d9d9;

$meal-card-shadow-clr: #cccccc;


/* Box sizes variables */

$main-wrapper-width: 1440px;

$menu-prev-and-img-height: 12.5rem;
$menu-prev-and-img-height-lg-mobile: 11rem;

$meal-card-heading-border-bottom-width-size-computer: 6%;
$meal-card-heading-border-bottom-width-size-lg-screen: 4.5%;

$footer-height-tablette: 13rem;
$footer-wrapper-height-tablette: 10rem;


/* Font sizes variables */

$third-heading-font-size: 1.3rem;
$paragraph-font-size: 1.2rem;

$menu-card-infos-icon-font-size: 1.6rem;
$menu-card-infos-icon-font-size-lg-mobile: 1.3rem;

$menu-card-infos-heading-font-size-lg-mobile: 1.1rem;

$menu-card-infos-restaurant-detailed-location-font-size-lg-mobile: 1rem;


/* Form padding variables */

$form-icon-padding: 0 .5rem;


/* Margin variables */

$page-wrapping-sizes: 1.35rem;

$btn-margin-top-size: 1.9rem;

$menu-card-margin-bottom-size: 2.5rem;
$menu-card-infos-margin-top-size: 1.1rem;

$footer-wrapper-margin-top-size: 1.92rem;
$footer-heading-margin-sizes: 1.57rem;
$footer-link-list-margin-bottom-size: 0.92rem;
$footer-link-margin-bottom-size: 1.07rem;


/* Shadow offset variables */

$zero-shadow-offset-x: 0;
$light-shadow-offset-y: 0.2rem;


/* Border variables */

$search-form-border-radius-sizes: 1rem;

$btn-radius: 2rem;

$loading-spinner-border-radius: 100%;
$loading-spinner-border-width: 4px;
$loading-spinner-border-style: solid;

/* loading spinner border properties value */

$circle-border-radius: 100%;
$circle-border-style: solid;

$circle-outer-border-width: 5px;

$circle-inner-border-width: 3px;

/* Default animation and transitions properties values */

$default-dur: 300ms;
$default-delay: 150ms; 

/* Transitions variables */

$trans-slide-dur: $default-dur;
$trans-slide-delay: $default-delay;
$trans-slide-timing: ease-in-out;

$meal-infos-shrink-margin-right: 5.4rem;

$trans-shrink-meal-infos-dur: $default-dur;
$trans-shrink-meal-infos-delay: $trans-slide-delay;

/* Animations variables */

$anim-default-dur: 0ms;

$anim-spin-dur: 550ms;
$anim-spin-delay: 253ms;
$anim-spin-iteration-count: infinite;

$anim-spawner-delay: $anim-spin-dur + $anim-spin-delay * 4.01; // Allows the loader to remain on the screen for 3 seconds before disappearing
$anim-spawner-fill-mode: both;

$anim-hide-loader-delay: $anim-spawner-delay;

$anim-like-btn-dur: 1000ms;
$anim-like-btn-scale-delay: 150ms;

$anim-like-btn-fade-delay: $anim-like-btn-scale-delay / .5;

$anim-gradual-onset-dur: 350ms;
$anim-gradual-onset-delay: $anim-gradual-onset-dur / 3;

$anim-rotated-icon-dur: 400ms;
$anim-rotated-icon-timing: cubic-bezier(.76,.01,.45,.85);
$anim-rotated-icon-delay: 155ms;
$anim-rotated-icon-fill-mode: both;

$anim-shrink-dur: $default-dur;
$anim-shrink-delay: 50ms;
$anim-shrink-timing: ease-in-out;
$anim-shrink-fill-mode: both;