/* Null and zero value */

$zero-value: 0;


/* Colors */

$primary-clr: #9356DC;
$secondary-clr: #FF79DA;

$tertiary-clr: #99E2D0;
$tertiary-clr--alt-darken: #099572; 

$primary-neutral-clr: #fff;
$secondary-neutral-clr: #eaeaea;
$tertiary-neutral-clr: #f6f6f6;
$quaternary-neutral-clr: #353535;


$buttons-shadow-clr: hsl(0deg 0% 75%);

$user-guide__instructions-icon-clr: #7d7d7d;
$user-guide-instructions-shadow-color: #bfbfbf;

$menu-card-shadow-clr: #d9d9d9;

$meal-card-shadow-clr: #cccccc;


/* Box sizes */

$main-wrapper-width: 1440px;

$menu-prev-and-img-height: 12.5rem;
$menu-prev-and-img-height-lg-mobile: 11rem;

$footer-height-tablette: 13rem;
$footer-wrapper-height-tablette: 10rem;


/* Font sizes */

$third-heading-font-size: 1.3rem;
$paragraph-font-size: 1.2rem;

$menu-card-infos-icon-font-size: 1.6rem;
$menu-card-infos-icon-font-size-lg-mobile: 1.3rem;

$menu-card-infos-heading-font-size-lg-mobile: 1.1rem;

$menu-card-infos-restaurant-detailed-location-font-size-lg-mobile: 1rem;


/* Form padding */

$form-icon-padding: 0 .5rem;


/* Margin variables */

$page-wrapping-sizes: 1.35rem;

$btn-margin-top-size: 1.9rem;

$menu-card-margin-bottom-size: 2.5rem;
$menu-card-infos-margin-top-size: 1.1rem;

$footer-wrapper-margin-top-size: 1.92rem;
$footer-heading-margin-sizes: 1.57rem;
$footer-link-list-margin-bottom-size: 0.92rem;
$footer-link-margin-bottom-size: 1.07rem;


/* Shadow offset */

$zero-shadow-offset-x: 0;
$light-shadow-offset-y: 0.2rem;


/* Border radius variables */

$search-form-border-radius-sizes: 1rem;