/* Colors */

$primary-clr: #9356DC;
$secondary-clr: #FF79DA;

$tertiary-clr: #99E2D0;
$tertiary-clr--alt-darken: #088869; 

$primary-neutral-clr: #fff;
$secondary-neutral-clr: #eaeaea;
$tertiary-neutral-clr: #f6f6f6;

$user-guide__instructions-icon-clr: #7d7d7d;
$user-guide-instructions-shadow-color: #bfbfbf;


/* Sizes */

$menu-prev-and-img-height: 12.5rem;


/* Form padding */

$form-icon-padding: 0 .5rem;


/* Margin */

$page-wrapping-sizes: 1.35rem;

$top-margin: 0;

